<p>id: <b>{{model.id}}</b></p>
<br/>
<p>listingId: <b>{{model.listingId}}</b></p>
<br/>
<p>advisorId: <b>{{model.advisorId}}</b></p>
<p>advisorName: <b>{{model.advisorName}}</b></p>
<p>consumerId: <b>{{model.consumerId}}</b></p>
<p>consumerName: <b>{{model.consumerName}}</b></p>
